@using  PhoMO.Models;

@model IEnumerable<PhotoField>


@{
    ViewData["Title"] = "Index";
}


<div style="font-family:Arial">
    <h1> List All</h1>
    <ul>

        @foreach  (PhotoField photo in @Model)
        {
        <li>
            @Html.ActionLink(photo.Name, "Details", new { id = photo.Id })

        </li>
        }
    </ul>
</div>